* {
  box-sizing: border-box;
}

html {
  background-color: #FEFCF5;
  font-size: 16px;
}

.toptube {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 15vh;
  border: solid 3px #7E030D;
  background: linear-gradient(135deg, #7E030D 26%, white 26% 38%, #FFDA58 38% 50%, #FF9658 50% 62%, #FF4E4E 62% 74%, #7E030D 74% 100%);
}

.links {
  width: 46%;
  margin-left: 27%;
  margin-right: 27%;
  display: flex;
  justify-content: space-between;
}

.icon {
  height: 3.75em;
}

.icon:hover {
  background: rgb(251, 122, 2);
}

.main {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 18vh;
}

.name {
  font-size: 5vw;
  font-family: 'Sonsie One', cursive;
  color: #7E030D;
  text-shadow: -0.3rem 0.18rem black;
}

h1 {
  font-family: 'Kite One', sans-serif;
  font-size: 2.7vw;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: #7E030D;
}

#about {
  display: flex;
  flex-direction: row;
  background: #FEFCF5;
  ;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70vw;
  border-radius: 15px;
  border: solid 3px #f85a3e;
  margin-left: 15vw;
}

.info {
  font-family: 'Open Sans', sans-serif;
  font-size: 2vw;
  font-style: bold;
  padding: 0 3vw;
}

.slider-wrapper {
  background: #FFF;
  border-top: solid 3px #7E030D;
  border-bottom: solid 3px #7E030D;
}

.slide-container {
  display: flex;
  flex-direction: row;
  background: white;
  text-align: left;
  height: 100%;
}

.slide-element {
  width: 45%;
  float: left;
}

.slide-text {
  padding-left: 1rem;
}

#slide-header a{
  margin-right: 1.5rem;
  color: #f85a3e;
}

#slide-header h2 {
  color: #7E030D;
  font-size: 24px;
}

.footer {
  background: #7E030D;
  color: white;
}