* {
  box-sizing: border-box;
}

html {
  background-color: #ff8c42;
}

.nameplate {
  border-top-left-radius: 75px;
  border-bottom-right-radius: 75px;
  text-align: center;
  height: auto;
  width: 75vw;
  padding-bottom: 10px;
  background-color: #fcde9c;
  border: 3px solid #f85a3e;
}

.name {
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 5vw;
  font-family: 'Sonsie One', cursive;
  width: 70vw;
  color: #ff8c42;
  text-shadow: -0.3rem 0.18rem #f85a3e;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 25vh;
}

.title {
  font-family: 'Teko', sans-serif;
  font-size: 4vw;
  text-align: center;
  transition: translateY(-50%);
}

.rivet {
  color: #EDE5D6;
  height: 5vh;
  text-shadow: -1px 1px 0 #766D6E, -2px 2px 0 #766D6E, -3px 3px 0 #766D6E,
  -4px 4px 0 #766D6E, -5px 5px 0 #766D6E, -1px 1px 0 #766D6E, -6px 15px 20px rgba(0,0,0,1);
  letter-spacing: 4px;
}
.rivet:after {
  content: '';
  animation:write 10s linear;
  animation-fill-mode: forwards;
}

.side-by-side {
  display: flex;
  margin-top: 5vh;
}

.info {
  font-family: 'Open Sans', sans-serif;
  font-size: 4vw;
  font-style: bold;
  margin-top: 50px;
  padding: 10px;
  width: 50%;
  height: 75vh;
  border-top: solid 3px #766D6E;
}

#left {
  background: #EDE5D6;
  float: left;
}

#right {
  background: #f85a3e;
  float: left;
  color: #EDE5D6;
}

.icon {
  max-height: 2.5rem;
}

@keyframes write {
  1% {
    content:'F';
  }
  2% {
    content:'FU';
  }
  3% {
    content:'FUL';
  }
  4% {
    content:'FULL';
  }
  5% {
    content:'FULL-';
  }
  6% {
    content:'FULL-S';
  }
  7% {
    content:'FULL-ST';
  }
  8% {
    content:'FULL-STA';
  }
  9% {
    content:'FULL-STAC';
  }
  10% {
    content:'FULL-STACK';
  }
  11% {
    content:'FULL-STACK ';
  }
  12% {
    content:'FULL-STACK S';
  }
  13% {
    content:'FULL-STACK SO';
  }
  14% {
    content:'FULL-STACK SOF';
  }
  15% {
    content:'FULL-STACK SOFT';
  }
  16% {
    content:'FULL-STACK SOFTW';
  }
  17% {
    content:'FULL-STACK SOFTWA';
  }
  18% {
    content:'FULL-STACK SOFTWAR';
  }
  19% {
    content:'FULL-STACK SOFTWARE';
  }
  20% {
    content:'FULL-STACK SOFTWARE ';
  }
  21% {
    content:'FULL-STACK SOFTWARE E';
  }
  22% {
    content:'FULL-STACK SOFTWARE EN';
  }
  23% {
    content:'FULL-STACK SOFTWARE ENG';
  }
  24% {
    content:'FULL-STACK SOFTWARE ENGI';
  }
  25% {
    content:'FULL-STACK SOFTWARE ENGIN';
  }
  26% {
    content:'FULL-STACK SOFTWARE ENGINE';
  }
  27% {
    content:'FULL-STACK SOFTWARE ENGINEE';
  }
  28% {
    content:'FULL-STACK SOFTWARE ENGINEER';
  }
  100% {
    content:'FULL-STACK SOFTWARE ENGINEER';
  }
}